/* Контейнер игрового поля */
.game__board-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    height: fit-content;
}

.game__board {
    display: grid;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: var(--border-radius);
    transition: background 0.5s ease;
}

/* Стили ячеек */
.cell {
    width: var(--grid-size);
    height: var(--grid-size);
    border: calc(var(--grid-size) / 40) solid rgba(255, 255, 255, 0.1);
    position: relative;
    transition: background-color 0.2s ease;
}

/* Темы в зависимости от уровня */
.game__board--forest {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/forest.png');
    background-size: var(--background-size) var(--background-size);
}

.game__board--desert {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/desert.png');
    background-size: var(--background-size) var(--background-size);
}

.game__board--ocean {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/ocean.png');
    background-size: var(--background-size) var(--background-size);
}

.game__board--volcano {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/volcano.png');
    background-size: var(--background-size) var(--background-size);
}

.game__board--space {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/space.png');
    background-size: var(--background-size) var(--background-size);
}